<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>The Movie App</title>
</head>

<body>
    <h1 class="justify-content-center d-flex">No results found for</h1>


</body>

</html>